<div class="row">
  © <%= Time.now.strftime("%Y") %> Minecraft Server Manager / <%= image_tag 'author_email.png' %>
</div>

<div class="row">
  Powered by <%= link_to(image_tag('ruby_on_rails_logo.png'), 'http://rubyonrails.org') %>
</div>

<div class="row">
  Version 1.2
</div>