<h1>Minecraft Server Management</h1>
<h3>Control Panel</h3>
<p>This will have server status displayed (running, stopped), allow to change the difficulty,
and authenticate by password. Also it will show the server name and server logo (loaded from minecraft server of course.)</p>
